.form {
    width: 90vw;
    margin: 20px auto;
    position: relative;
}

.input {
    width: 90vw;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}

.search {
    position: absolute;
    top: 0.7rem;
    left: .7rem;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;
    color: white;
}

.smallHeading {
    font-size: 1rem;
}

.cityBlock {
    background: linear-gradient(#5A6379 60%, #5A6379 40%);
    width: 90vw;
    margin: 1rem auto;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: white;
}

.cityName {
    font-size: 1.125rem;
}

.countryName {
    font-size: 0.75rem;
}

.degree {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.cityDegree {
    font-size: 1.375rem;
}

.degreeIcon {
    font-size: 1.375rem;
}